<section class="container-fluid py-5 bg-light text-white" style="position: relative">
  <div class="row">
    <div class="col-md-5">

      <img class="card-img-top" src="{{#if otherUser}}{{otherUser.image}}{{else}}{{user.image}}{{/if}}"
        alt="Card image cap">
    </div>
    <div class="col-md-5">
      <div class="container">
        <div class="row text-md-dark">
          <div class="col-md-7">
            {{#if otherUser}}
            <h3>{{otherUser.name}}</h3>
            <p>
              {{otherUser.email}}
            </p>
            {{else}}
            <h3>{{user.name}}</h3>
            <p>
              {{user.email}}
            </p>
            {{/if}}

            {{#if isOwner}}
            <a href="/users/{{user.id}}/edit" class="btn btn-outline-info mb-3">編輯資料</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>