<section class="container-fluid py-5 bg-light text-dark" style="position: relative">
  <div class="row">
    <div class="col-md-5">

      <img class="card-img-top" src="{{theUser.image}}" alt="Card image cap">
    </div>
    <div class="col-md-5">
      <div class="container">
        <div class="row text-md-dark">
          <div class="col-md-7">
            <h3>{{theUser.name}}</h3>
            <p>
              {{theUser.email}}
            </p>

            <p>{{commentNumber}} 已評論餐廳</p>
            <p>{{favoritedRestNumber}} 已收藏餐廳</p>
            <p>{{followingNumber}} followerings（追蹤者）</p>
            <p>{{followerNumber}} followers（追隨者）</p>
            {{#if isOwner}}
            <a href="/users/{{user.id}}/edit" class="btn btn-outline-info mb-3">編輯資料</a>
            {{else}}
            {{#if this.isFollowed }}
            <form action="/following/{{theUser.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">取消追蹤</button></form>
            {{else}}
            <form action="/following/{{theUser.id}}" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">追蹤</button></form>
            {{/if}}
            {{/if}}

          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <p>{{followingNumber}} followerings（追蹤者）</p>
        </div>
        <div class="card-body">
          {{#each theUser.Followings}}
          <a href="/users/{{this.id}}" target="_blank">
            <img src="{{this.image}}" alt="User image" width="100px" height="100px" />
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <p>{{commentNumber}} 已評論餐廳</p>
        </div>
        <div class="card-body">
          {{#each reviewedRestaurants}}
          <a href="/restaurants/{{this.id}}" target="_blank">
            <img src="{{this.image}}" alt="restaurant image" width="100px" height="100px" />
          </a>
          {{/each}}
        </div>
        {{#if comment}}
        <div class="card-footer text-muted">
          最近一次評論 {{moment comment.createdAt}}
        </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <p>{{followerNumber}} followers（追隨者）</p>
        </div>
        <div class="card-body">
          {{#each theUser.Followers}}
          <a href="/users/{{this.id}}" target="_blank">
            <img src="{{this.image}}" alt="User image" width="100px" height="100px" />
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <p>{{favoritedRestNumber}} 已收藏餐廳</p>
        </div>
        <div class="card-body">
          {{#each theUser.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}" target="_blank">
            <img src="{{this.image}}" alt="restaurant image" width="100px" height="100px" />
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>